<!DOCTYPE html>
<html>
  <head>
    <title>Nejvic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <li><%= link_to "Home",  home_index_path, :class => "header" %></li>
  <li><%= link_to "Log In", new_user_session_path, :class => "header" %></li>
  <li><%= link_to "Register",  new_user_registration_path, :class => "header" %></li>
  <li><%= link_to "Log Out", destroy_user_session_path, :class => "header" %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path , :class => "header" %></li>
    <%= yield %>
  </body>
</html>
